﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
    <link href="~/Scripts/demo.css" rel="stylesheet" />
    <link href="~/Scripts/footer-basic-centered.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">ARSİV</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Html.ActionLink("Kategoriler","Home")</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#">@Html.ActionLink("Fırsatlar", "Kayit_Ol", "Home")</a></li>
                <li><a href="#">@Html.ActionLink("Yeni-Kitaplar", "Kayit_Ol", "Home")</a></li>
                <li><a href="#">@Html.ActionLink("Popüler", "Kayit_Ol", "Home")</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Html.ActionLink("Kayıt-Ol", "Kayit_Ol", "Home")</a></li>
                <li><a href="#">@Html.ActionLink("Giris-Yap", "Kayit_Ol", "Home")</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer-basic-centered">
    <p class="footer-company-motto">Aradığınız kitaba kolay ulaşmanın yolu.</p>
    <p class="footer-links">
        <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        ·
        <a href="#">Kategoriler</a>
        ·
        <a href="#">Hakkımızda</a>
        ·
        <a href="#">İletişim</a>
    </p>
    <p class="footer-company-name">Arsiv Kitabevi &copy; 2016</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
