﻿
@{
    ViewBag.Title = "Admin_Sayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/Stil.css" rel="stylesheet" />
<a href="/Admin/KitapIndex" style="color:#1E90FF;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:20px;">KAYIT EKLE/SİL</a>
<br />
<br />

<a href="/Admin/Kitap2Index" style="color:#1E90FF;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:20px;">YORUM VE FOTOĞRAF EKLE SİL</a>

