﻿
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hakkımızda</h3>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1"><h3>ARSİV KİTABEVİ Marka Vizyonu</h3>
Herkesi, kültür ve eğlence dünyasının sunduğu zenginlikleri daha sık, daha kolay ve daha nitelikli bir şekilde keşfetmeye, keyfini çıkarmaya ve paylaşmaya teşvik eden, böylece insanları ortak bir platformda biraraya getiren ve hayatın her anını zenginleştiren bir dünya.

<h3>ARSİV KİTABEVİ Marka Misyonu</h3>
ARSİV KİTABEVİ, evrensel ürün yelpazesi ve hizmet anlayışı ile her müşterisine, kültür ve eğlence ürünlerine ulaşmanın ve bunun keyfini çıkarmanın eşsiz deneyimini her zaman ve her yerde yaşatır.

<h3>Tarihçe</h3>
ARSİV KİTABEVİ, 1996 yılının Kasım ayında kuruldu ve ilk mağazasını 1997 yılının Mayıs ayında Erenköy'de açtı. Türkiye genelinde 26 ilde 147 mağazası bulunan ARSİV KİTABEVİ sektöründe pazar liderliğini sürdürüyor. Kitaptan müziğe, filmden elektroniğe, oyundan hobiye, hediyelik eşyadan kırtasiyeye, geniş ürün seçenekleri sunan ARSİV KİTABEVİ, toplumu kitap okumaya, müzik dinlemeye, film izlemeye özendirerek üstlendiği sosyal sorumluluk görevini de yerine getiriyor. ARSİV KİTABEVİ, eğlence ve kültür ürünleriyle tüketiciyi buluşturarak, okuyan ve dinleyen bir Türk toplumunun oluşumuna katkıda bulunuyor. Her geçen gün bir yenisi açılan ARSİV KİTABEVİ mağazaları, şehirlerin işlek caddeleri ile Türk ve dünya markalarının buluştuğu modern alışveriş merkezlerinde yer alıyor.

ARSİV KİTABEVİ 2004 yılında yeni mağazacılık anlayışı getirerek mağaza standartlarını geliştirdi.

Ankara Tunalı, İzmir Forum Bornova ve Kanyon mağazaları ile mega mağazacılık alanında büyük adımlar attı, hem dekorasyonu, hem cafeleri ile Avrupa'daki örneklerini aratmayacak mekanlar yarattı. ARSİV KİTABEVİ, kültür, sanat, eğlence konusunda geniş bir ürün yelpazesini modern ve dinlendirici bir atmosfer içerisinde sunan Türkiye'nin tek perakende zinciri olarak, cafeleri, dinleme kuleleri, okuma alanları, sanatçılarla hayranlarını buluşturan ve artık gelenek haline gelen imza günleri, partiler, galalar, ürün lansmanları ile klasik mağaza konseptinin dışında hizmet anlayışı geliştirdi.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

