﻿
@{
    ViewBag.Title = "Kayit_Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Scripts.Render("~/bundles/jquery");
    Scripts.Render("~/bundles/bootstrap");
    Styles.Render("~/Content/css");
    Scripts.Render("~/bundles/modernizr");
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#1E90FF; color:white;">
                        <h3 class="panel-title">Kayıt Ol</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Adınız" name="ad" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-Mail" name="email" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Kullanıcı Adı" name="kullanici_adi" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Sifre" name="sifre" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Sifre Tekrar" name="sifre_tekrar" type="password" value="">
                                </div>
                                <div class="checkbox">
                                </div>
                                <input class="btn btn-lg btn-block" type="submit" value="Kayıt Ol">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

