﻿@model Web_Sitesi.Controllers.HomeController.Kitap
@{
    ViewBag.Title = "Firsatlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 style="color: #1E90FF; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:bold;font-size:40px;">Macera</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            @foreach (var item in Model.kitabim)
            {
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <a href="/Home/Kitap_icerik/?id=@item.resim_id" class="">
                            <div class="caption">
                                <h4 class="" style="color:#1E90FF;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold; ">@item.kadi</h4>
                            </div>
                            <img src="@item.resim" class="" style="height:180px;width:150px">
                        </a>
                    </div>
                </div>
            }
            <!-- TH1 -->
            <!-- TH6 -->
        </div><!--/row -->
    </div>
</body>
</html>
