﻿
.navbar-inverse {
   background-color:#1E90FF;
   border-radius:0px;
}
.navbar-inverse .navbar-brand{
   position:relative;
   top:5px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:20px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:20px;
   transition:color .6s ease-in;
}
.navbar-inverse .navbar-nav > li > a
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  color: white;
  position:relative;
  top:-25px;
  padding-right:25px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus 
{
color:black;
transition:color .6s ease-in;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 40%;
      margin: auto;
  }
.carousel-inner
{
background-color:transparent;
}
.slayt_ayar
{
-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 4s;
}
.slayt_ayar:hover
{
opacity: 0.3;
filter: alpha(opacity=50);
}
.footer-basic-centered
 {
    background-color: #1E90FF;
}
    .footer-basic-centered .footer-company-motto 
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;
        color:white;
    }
    .footer-basic-centered .footer-links
     {
        color:white;
    }
    .footer-basic-centered .footer-links a
    {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
     transition:color .6s ease-in;
    }
    .footer-basic-centered .footer-company-name 
    {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
    color:white;
    }
    .btn-block{
    background-color:#1E90FF;
    }
 .btn-block:hover
 {
    color:black;
    transition:color .6s ease-in;
 }
 .panel-heading
 {
    background-color:#1E90FF;
 }
 