﻿@{
    ViewBag.Title = "Home Page";
    Scripts.Render("~/bundles/jquery");
    Scripts.Render("~/bundles/bootstrap");
    Styles.Render("~/Content/css");
    Scripts.Render("~/bundles/modernizr");
}
<html>
<head>
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-color:#F0F8FF;">
                    <a href="#"><img class="slayt_ayar" src="~/Scripts/5.jpg"  alt="Chania" width="460" height="345"></a>
                    <div class="carousel-caption">
                        <h3>DENEME</h3>
                        <p style="font-weight:bold;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">DENEME</p>
                    </div>
                </div>
                <div class="item" style="background-color:#F0F8FF;">
                    <a><img class="slayt_ayar" src="~/Scripts/7.jpg"alt="Chania" width="460" height="345"></a>
                    <div class="carousel-caption">
                        <h3>DENEME</h3>
                        <p style="font-weight:bold;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">DENEME</p>
                    </div>
                </div>

                <div class="item" style="background-color:#F0F8FF;">
                    <img class="slayt_ayar"src="~/Scripts/yeni1.jpg" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>DENEME</h3>
                        <p style="font-weight:bold;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">DENEME</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background-color:#87CEFF;">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background-color:#87CEFF;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</body>
</html>