﻿@model Web_Sitesi.Models.tablo2

@{
    ViewBag.Title = "Kitap2Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap2Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tablo2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kadi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Kitap2Index")
        </div>
    }
</div>
