﻿@model Web_Sitesi.Models.tablo2

@{
    ViewBag.Title = "Kitap2Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap2Details</h2>

<div>
    <h4>tablo2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kadi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Kitap2Edit", new { id = Model.resim_id }) |
    @Html.ActionLink("Back to List", "Kitap2Index")
</p>
