﻿@model Web_Sitesi.Models.tablo

@{
    ViewBag.Title = "KitapDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KitapDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tablo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre_tekrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre_tekrar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "KitapIndex")
        </div>
    }
</div>
