﻿@model IEnumerable<Web_Sitesi.Models.tablo2>

@{
    ViewBag.Title = "Kitap2Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/Stil.css" rel="stylesheet" />
<h2>Kitap2Index</h2>

<p>
    @Html.ActionLink("Create New", "Kitap2Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.resim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yorum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kadi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.resim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yorum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kadi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Kitap2Edit", new { id = item.resim_id },new{style="color:#1E90FF;"}) |
            @Html.ActionLink("Details", "Kitap2Details", new { id=item.resim_id }, new { style = "color:#1E90FF;" }) |
            @Html.ActionLink("Delete", "Kitap2Delete", new { id=item.resim_id}, new { style = "color:#1E90FF;" })
        </td>
    </tr>
}

</table>
