﻿@model Web_Sitesi.Models.tablo

@{
    ViewBag.Title = "KitapDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KitapDetails</h2>

<div>
    <h4>tablo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre_tekrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre_tekrar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "KitapEdit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "KitapIndex")
</p>
