﻿@model IEnumerable<Web_Sitesi.Models.tablo>

@{
    ViewBag.Title = "KitapIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KitapIndex</h2>

<p>
    @Html.ActionLink("Create New", "KitapCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre_tekrar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre_tekrar)
        </td>
        <td>
            @Html.ActionLink("Edit", "KitapEdit", new { id=item.UserID }, new { style = "color:#1E90FF;" }) |
            @Html.ActionLink("Details", "KitapDetails", new { id=item.UserID }, new { style = "color:#1E90FF;" }) |
            @Html.ActionLink("Delete", "KitapDelete", new { id=item.UserID }, new { style = "color:#1E90FF;" })
        </td>
    </tr>
}

</table>
