﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/Stil.css" rel="stylesheet" />
    <link href="~/Scripts/demo.css" rel="stylesheet" />
    <link href="~/Scripts/footer-basic-centered.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">ARSİV</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="margin-top:29px;">Kategoriler</a>
                    <ul class="dropdown-menu" role="menu" style="background-color:#1E90FF;">
                        <li><a href="/Home/Macera" style="color:white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;">Macera</a></li>
                        <li><a href="/Home/Polisiye" style="color:white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;">Polisiye</a></li>
                        <li><a href="/Home/Korku" style="color:white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;">Korku-Gerilim</a></li>
                        <li><a href="/Home/Tarih" style="color:white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;">Tarih</a></li>
                        <li><a href="/Home/Bilim" style="color:white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;">Bilim-Kurgu</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.Advices, "Firsatlar", "Home")</a></li>
                <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.New_Books, "Yeni_Kitap", "Home")</a></li>
                <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.Popular, "Populer", "Home")</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["kadi"] == null)
                {
                <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.Register, "Kayit_Ol", "Home")</a></li>
                <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.Login, "Giris_Yap2", "Home")</a></li>
                }
                else
                {
                    <li><a href="#">@Html.ActionLink(Web_Sitesi.Resources.Cokludil.Logout, "Cikis", "Home")</a></li>
                }
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer-basic-centered">
    <p class="footer-company-motto">Aradığınız kitaba kolay ulaşmanın yolu.</p>
    <p class="footer-links">
        <a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        ·
        <a href="@Url.Action("Hakkımızda","Home",Web_Sitesi.Resources.Cokludil.About)">Hakkımızda</a>
        ·
        <a href="@Url.Action("İletisim","Home")">İletişim</a>
        .
        <a href="@Url.Action("Dil","Home")">Dil</a>
    </p>    
    <p class="footer-company-name">Arsiv Kitabevi &copy; 2016</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
